
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501520040752'); /* IE9*/
  src: url('iconfont.eot?t=1501520040752#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501520040752') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501520040752') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501520040752#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:30px;
  font-style: normal;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-arrow:before { content: "\e65d"; }

.icon-down-arrow:before { content: "\e61d"; }
